<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Detail</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <bold><%= x.taskTitle %></bold>
    <ul>
        <li>Description: <%= x.taskDesc %></li>
        <li>Status: <%= x.taskDone %></li>
        <li>Last updated: <%= x.lastUpdated %></li>
    </ul>

    <a href="/">Back to home page</a>
</body>
</html>